<div id="navigation" fxLayout="row">
  <div fxFlex="66" fxLayoutAlign="start center">
    <h3 routerLink="/" fxFlexOffset="5">IggyNolteWeb</h3>
  </div>
  <div fxLayout="row-reverse" fxFlex="33" fxLayout.xs="column-reverse" fxLayoutGap="5px">
    <button mat-raised-button fxFlex="20" fxFlex.xs="30" fxFlexOrder="3" routerLink="/">Start</button>
    <button mat-raised-button fxFlex="20" fxFlex.xs="30" fxFlexOrder="2" routerLink="/pictures">Bilder</button>
    <button mat-raised-button fxFlex="20" fxFlex.xs="30" fxFlexOrder="1" routerLink="/music">Musik</button>
  </div>
</div>
