<div fxLayout="row">
  <div fxFlex="20">
  </div>
  <div fxFlex="60" fxLayout="column" style="background-color: white; padding-right: 5px; padding-left: 5px">
    <div class="artikle-title">
      <img src="">
    </div>
    <div fxLayoutAlign="center center">
      <img style="width: 100%" src="assets/images/{{article.blogImg}}">
    </div>
    <mat-divider></mat-divider>
    <div>
     {{article.text}}
    </div>
    <div>
    <mat-chip-list fxLayout="row">
      <mat-chip *ngFor="let chip of article.chips">{{chip.name}}</mat-chip>
    </mat-chip-list>
    </div>
  </div>
  <div fxFlex="20"></div>
</div>
