<div fxLayout="wrap" fxLayout.xs="column" id="start-page-main">
  <div fxFlex="20" fxFlexOrder="1" fxFlexOrder.xs="2" class="outer-content">
  </div>
  <div fxFlex="80" fxFlexOrder="2" fxFlexOrder.xs="1" fxLayout="column">
    <img fxLayoutAlign="center center" src="/assets/images/banner_svg.svg" style="height: 100%; width: 100%">
    <p>Hallo und herzlich willkommen auf meiner kleinen Single Page Website. Dies ist der Versuch durch Angular eine eigene kleine Seite einzurichten</p>
  </div>
  <div fxFlex="20" fxFlexOrder="3" fxFlexOrder.xs="3" class="outer-content">
  </div>
</div>
