<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap="1%">
  <div fxFlex="24%" fxFlex.xs="100%" fxFlex.md="48%" fxFlex.sm="48%" *ngFor="let pictureCard of pictureCards">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{pictureCard.title}}</mat-card-title>
      <mat-card-subtitle>{{pictureCard.subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img style="max-width: 100%" src="{{pictureCard.img}}">
      <p>{{pictureCard.text}}</p>
    </mat-card-content>
  </mat-card>
  </div>
  <div>
  </div>
</div>
