<div fxLayout="column">
  <div fxLayoutAlign="center center">
    <h1>Meine Kontakt Seite</h1>
  </div>
  <div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <a href="https://github.com/NikolaiKiefer">
      <button mat-stroked-button="primary" class="logo_button">
        <img class="logo" src="assets/images/logos/GitHub-Mark-32px.png">Github
      </button>
    </a>
    <a href="https://stackoverflow.com/users/10567964/nikolai-kiefer">
      <button mat-stroked-button="primary" class="logo_button">
        <img class="logo" src="assets/images/logos/so-icon.png">Stackoverflow
      </button>
    </a>
    </div>
  </div>
  <div>
    <a></a>
  </div>
</div>
